.logo{
    margin-left: 7rem;
    font-family: 'Arvo', serif;
}
#hr-nav{
    border-color: black;
   
}
.seccion{
    color: black;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
}
.seccion:hover{
    color:rgb(131, 131, 131);
}
.social{
    margin-right: -20rem;
    margin-left: 11rem;
    
}

// Carousel
#carousel {
  margin-top: 25rem;
  margin-bottom: -22.8rem;
  position: relative;
  height: 700px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

//Quien soy
.quien-soy-imagen{
    border-radius: .5rem;
-webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.54);
box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.54);
}
.texto{
    font-size: 1.5rem;
    font-family: 'Arvo', serif;
}


// Servicio
@mixin servicio($img){
    border: solid;
    border-width: 1.4px;
    height: 18.9rem;;
    width: 15rem;
    background-image: url($img);
    background-size: cover;
    color:white;
    border-radius: .2rem;
    margin-bottom: 1.5rem;
}


.servicio1{
   
    @include servicio("../imagenes/jeremy-wong-weddings-602196-unsplash.jpg")
}
.servicio2{
    @include servicio("../imagenes/jeremy-wong-weddings-602196-unsplash.jpg")
}
.servicio3{
    @include servicio("../imagenes/jeremy-wong-weddings-602196-unsplash.jpg")
}
.servicio4{
    @include servicio("../imagenes/jeremy-wong-weddings-602196-unsplash.jpg")
}

@mixin serviciohover{
    .fondo-hover{
    background: rgba(0, 0, 0, 0.027);
    background-size: cover;
   
}
    .titulo-servicio{
        font-size: 2rem;
        margin-top: 5rem;
        margin-left: 10rem;
    }
    #hr-servicio{
        display: block;
        border-color: rgb(195, 195, 195);
    }
    .texto-servicio{
        display: block;
        font-size: 1rem;
        font-family: 'Arvo', serif;
    }
}   
.fondo-hover{
    background: rgba(0, 0, 0, 0);
}
    .servicio1:hover{
        @include serviciohover()
    }
    .servicio2:hover{
        @include serviciohover()
    }
    .servicio3:hover{
        @include serviciohover()
    }
    .servicio4:hover{
        @include serviciohover()
    }


.texto-servicio{
    display:none;
}

   .titulo-servicio{
        font-size: 3rem;
        margin-top: 8rem;
        margin-left: 7rem;
}
#hr-servicio{
    display:none;
}

// Contacto


@mixin contacto(){
    border: solid;
    border-width: 1.5px;
    height: 18.9rem;;
    width: 15rem;
    border-radius: .2rem;
    margin-bottom: 1.5rem;
}
.contacto{
    cursor: pointer;
    @include contacto();
}

#contacto{
    margin-top: 5rem;
    margin-bottom: 12rem;;
}